<div class="container">
  <div class="row" *ngIf="product">
    <div class="col-6">
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="w-100">
    </div>


    <div class="col-6 mt-5" style="color: #ffffff;">
      <h2>{{product.name}}</h2>
      <p style="font-size: 2em;">{{product.price | currency}}</p>
      <h5 class="text mb-3" style="color: #9f7aea" *ngIf="quantityInBasket > 0">
        You have {{quantityInBasket}} of this item in your basket
      </h5>
    </div>


    <div class="d-flex justify-content-start align-items-center mt-5">
      <i
        (click)="decrementQuantity()"
        class="bi bi-dash-circle me-2"
        style="cursor: pointer; font-size: 2em; color: #9f7aea"></i>
      <span class="font-weight-bold" style="font-size: 1.5em; color: #ffffff">
                    {{quantity}}
                </span>
      <i
        (click)="incrementQuantity()"
        class="bi bi-plus-circle mx-2"
        style="cursor: pointer; font-size: 2em; color: #9f7aea"></i>
      <button
        class="btn btn-secondary ms-4" style="background-color: #9f7aea; color: #212121;"
        (click)="updateBasket()"
        [disabled]="quantity === quantityInBasket"
      >{{buttonText}}</button>
    </div>

    <div class="card h-100 shadow-sm">
      <div class="row mt-lg-5">
        <h4>Description</h4>
        <p>{{product.description}}</p>
      </div>
    </div>

  </div>

</div>
