a {
  text-decoration: none;
  color: #9f7aea;
  font-family: 'Berlin Sans FB';

  &.active {
    color: white;
  }
}

.logo {
  cursor: pointer;
}

.cart-no {
  position: absolute;
  min-height: 5px;
  min-width: 5px;
  border-radius: 50%;
  text-align: center;
  top: -12px;
  right: 12px;
}

